<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="LiteArm_A10_251125">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import LiteArm_A10_251125 urdf file -->
    <xacro:include filename="$(find litearm_a10_251125)/urdf/LiteArm_A10_251125.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="LiteArm_A10_251125.ros2_control.xacro" />


    <xacro:LiteArm_A10_251125_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>