<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="LiteArm_A10_251125_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- Set up controllers for simulation (right arm only) -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>

            <!-- Joint 1 - Right Shoulder Roll -->
            <joint name="r_joint1_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_joint1_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- Joint 2 - Right Shoulder Pitch -->
            <joint name="r_joint2_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_joint2_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- Joint 3 - Right Shoulder Pitch -->
            <joint name="r_joint3_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_joint3_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- Joint 4 - Right Elbow Roll -->
            <joint name="r_joint4_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_joint4_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- Joint 5 - Right Wrist Pitch -->
            <joint name="r_joint5_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_joint5_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- Joint 6 - Right Wrist Roll -->
            <joint name="r_joint6_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_joint6_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- Joint 7 - Right Wrist Pitch -->
            <joint name="r_joint7_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_joint7_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- Right Gripper Right Finger -->
            <joint name="r_r_finger_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_r_finger_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <!-- Right Gripper Left Finger (mimic joint) -->
            <joint name="r_l_finger_joint">
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>